* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'VT323', 'Athiti', 'Open Sans', sans-serif;
  font-size: 20px;
}

button {
  border: 0;
  font-family: 'VT323', 'Athiti', 'Open Sans', sans-serif;
}

.hidden {
  display:none;
}

.show{
  display:block;
}

.bg {
  position: relative;
  height: 100vh;
  background: url(images/gress-bg1.png) 0 0 repeat;
  /*background-size: cover;*/
}

.bg-water {
  position: relative;
  background: url(images/water.png) 0 0 repeat;
  height: 100vh;
}

.i-home {
  width: 15%;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
}

.water-wrap {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}



.water-wrap:before, .water-wrap:after {
  content: "";
  width: 100%;
  display: block;
  height: 128px;
  position: absolute;
  z-index: 1;
}

.water-wrap:before {
  background: url(images/gress-top.png) 0 0 repeat-x;
  top: -110px;
}

.water-wrap:after {
  background: url(images/gress-bottom.png) 0 0 repeat-x;
  bottom: -110px;
}

.water-wrap.game:after {
  bottom: -100px;
}

.water-wrap.game .btn-start.btn-pre{
  bottom: -80px;
}

.gameinput {
  z-index: 10;
  position: relative;

}

.player {
  width: calc(100% / 5);
  float: left;
  position: relative;
  border: 1px solid rgb(141, 218, 241);
}
.player:before  {
  content: "";
  display: block;
  padding-top: 100%;
  background: url(images/water.png) 0 0 no-repeat;
  background-size: 100%;
}

.player span {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0.1;
  font-size: 35px;
  font-weight: bold;
}

.ship-wrap {
  width: calc(100% / 2.5);
  float: left;
  position: absolute;
}

.ship-wrap:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.b {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
  top: 0;
}

.b img {
  width: 80%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.b1 {
  z-index: 5;
}

.b2 {
  z-index: 4;
}

.b3 {
  z-index: 3;
}

.b4 {
  z-index: 2;
}

.ship-wrap.add-bomb .b1 {
  animation: play 0.5s;
}

.ship-wrap.add-bomb .b2 {
  animation: play 1s;
}

.ship-wrap.add-bomb .b3 {
  animation: play 2s;
}

.ship-wrap.add-bomb .b4 {
  animation: showShip 2.5s;
  opacity: 1;
}

@keyframes stroll {
  from { transform: translateX(-100%); }
  to { transform: translateX(500%); }
}

/*@-webkit-keyframes play {
   from { background-position:    -100%; }
     to { background-position:     0; }
}

@-moz-keyframes play {
   from { background-position:    -100%; }
     to { background-position:     0; }
}

@-ms-keyframes play {
   from { background-position:    -100%; }
     to { background-position:     0; }
}

@-o-keyframes play {
   from { background-position:    -100%; }
     to { background-position:    0; }
}*/

.w { opacity: 1;}
.w.w1 {animation: play 0.2s;}
.w.w2 {animation: play 0.4s;}
.w.w3 {animation: play 0.6s;}
.w.w4 {animation: play 0.8s;}
.w.w5 {animation: play 1s;}
.w.w6 {animation: play 1.2s;}
.w.w7 {animation: play 1.4s;}
.w.w8 {animation: play 1.6s;}
.w.w9 {animation: play 1.6s;}




@keyframes play {
  from { opacity: 1;}
  to { opacity: 0;}
}

@keyframes showShip {
  from { opacity: 0;}
  to { opcaity: 1;}
}

/*============================ home ==================================*/
/*.home {
  background: url(images/water.png) 0 0 repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
}*/

.home-bg-top {
  background: url(images/water.png) 0 0 repeat;
  width: 100%;
  position: relative;
}

.home-bg-top:after {
  content: "";
  display: block;
  background: url(images/bg2.png) 0 0 repeat-x;
  background-size: 200%;
  width: 100%;
  padding-bottom: 18%;
  position: absolute;
  top: 0;
}

.home-bg-top.congrats:after {
  display: none;
}

.home {
  padding-top: 15%;
  text-align: center;
}

.home h1 {
  font-size: 40px;
  margin-top: 10%;
  color: #6c4a27;
}
.home h1 img {
  width: 10%;
}
.home h2 {
  font-size: 80px;
  color: #5dbb2d;
  margin-top: 10%;
}
.home h2 img {
  width: 50%;
}
.home h2 img , .home h1 img{
  vertical-align: middle;
}

.btn-start {
  background: #f9e8c2 url(images/sand.png) 0 0 repeat;
  font-size: 40px;
  padding: 10px 15px;
  color: #795548;
  border-bottom: 10px solid #795548;
  display: block;
  border-radius: 20px;
  position: relative;
  width: 80%;
  margin: 5% auto;
  cursor: pointer;
  transition: all 0.8s;
}

.btn-start:hover {
  background: #edddb8;
  transition: all 0.8s;
}

.btn-start.btn-startmenu {
  transition: all 0.5s;
}


.btn-start.btn-startmenu:hover .i-home, .btn-start.btn-startmenu:active .i-home {
  transition: all 0.5s;
  transform: rotate(360deg)
}

.btn-start:active {
  background: #baad91;
  transition: all 0.8s;
}

.btn-start.i-home:active {
  transform: rotate(360deg);
  transition: all 0.5s;
}

.room-ship .btn-start {
  font-size: 20px;
  width: 40%;
}

.btn-rotate {
  left: 0;
}

.btn-back {
  /*left: calc(100% /3);*/
}

.btn-ok {
  color: #29bb65;
  right: 0;
}

.btn-ok.btn-shoot {
  right: calc(100% / 3);
}

.btn-enemy {
  color: #cf5e52;
}

.btn-back {
  color: #f44336;
}

.btn-start.btn-pre {
  position: absolute;
  bottom: -100px;
  z-index: 10;
  width: calc(100% /3);
  padding: 10px 0;
  box-shadow: 5px 5px 0 rgba(0,0,0,0.05);
  border: 1px solid #bbae91;
  text-align: center;
  float: left;
}

.btn-back.no , .btn-ok.no {
  background: #bbae91;
  color: #fae8c2;
}

.lobby {
  width: 90%;
  margin: 0 auto;
  background: url(images/bg3.png)  0 0 no-repeat;
  background-size: 100%;
  /*height: 100vh;*/
  padding-bottom: 100%;
  padding-top: 39%;
  overflow: hidden;
  position: relative;
}

.lobby ul {
  list-style: none;
  font-size: 25px;
  color: #6c4a27;
  /*background-color: #f9e8c2;*/
  width: 65%;
  margin: 0 auto;
  border-radius: 20px;
  position: absolute;
  height: 41%;
  overflow: hidden;
  transform: translate(-50%, 0);
  top: 8%;
  left: 50%;
}

.lobby ul li {
  text-align: left;
}

.room-ship-player img {
  width: 20%;
}

.room-ship-player.p1 {
  color: #5dbb2d;
}

.room-ship-player.p2 {
  color: #cf5e52;
}

.room-ship-player.p2 .wait {
  opacity: 0.3;
}

.room-ship .vs {
  color: #6c4a27;
  margin: 20px 0;
  font-size: 30px;
}

.searchroom {
  background: url(images/water.png) 0 0 repeat;
  border: 2px solid #6f898c;
  font-size: 30px;
  color: #6c4a27;
  font-family: 'VT323';
  border-radius: 3px;
  margin-bottom: 20px;
  width: 75%;
}

.home h1.room-title {
  padding: 0 10px;
}

.home h2.room-title {
  font-size: 22px;
  color: #00BCD4;
  margin-top: 10px;
  opacity: 0.5;
}

/*.ex-ship {*/
  /*position: absolute;*/
  /*width: 70px;*/
  /*z-index: 10;*/
  /*transform: translate(-50%, -90%) rotate(0);*/
  /*left: 50%;*/
  /*top: 0;*/
  /*transition: all 0.5s;*/
/*}*/

/*.ex-ship.rotate {*/
  /*transition: all 0.5s;*/
  /*transform: translate(-50%, -90%) rotate(90deg);*/
/*}*/

.player-info.pre-game {
  font-size: 55px;
  top: -70px;
}

.player-info.pre-game img {
  width: 25px;
}

.ex-ship {
  width: 30px;
  margin-top: -15px;
}

.player-info {
  color: #795548;
  font-size: 30px;
  position: absolute;
  top: -85px;
  z-index: 10;
  left: 10px;
  transform: translate(-50%, 0);
  left: 50%;
  width: 100%;
  text-align: center;
}
.player-info img {
  width: 50px;
  vertical-align: middle;
}

.player-info.enemy-turn {
  color: #cf5e52;
}

.player-info .red {
  color: #f44336;
}

.congrats {
  position: relative;
  height: 100vh;
}
.congrats-inner {
  background: url(images/bg4.png) center center no-repeat;
  background-size: 90%;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.congrats-inner .detail {
  font-size: 30px;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 35%;
  color: #484646;
  width: 85%;
  left: 50%;
  text-align: center;
}

.congrats-inner .detail img {
  vertical-align: middle;
}

.congrats-inner .detail .winner {
  border: 3px solid rgb(72, 70, 70);
  padding: 10px 20px;
  margin: 30px auto 0 auto;
  width: 70%;
  word-wrap: break-word;
  color: #494746;
  box-shadow: 10px 10px 0 0 rgba(73, 71, 70, 0.8);
  position: relative;
  background: #fc0;
}

.congrats-inner .detail .winner:before {
  content: "";
  width: 100%;
  background: url(images/medal.png) 0 0 no-repeat;
  height: 80px;
  position: absolute;
  left: -15px;
  top: -5px;
}

.congrats-inner .detail .star img {
  margin-right: -10px;
  margin-left: -10px;
  width: 20%;
}

.congrats-inner .detail .star img:nth-child(1) {
  margin-top: 15px;
  transform: rotate(-10deg);
}

.congrats-inner .detail .star img:nth-child(2) {
  margin-top: -15px;
}

.congrats-inner .detail .star img:nth-child(3) {
  margin-top: 15px;
  transform: rotate(10deg);
}


/*/ add new /*/
.btn-gress {
  background: url(images/gress4.png) 0 0 repeat;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  color: #ffeb3b;
  font-size: 30px;
  cursor: pointer;
}

.btn-gress.btn-createroom {
  border: 0;
  border-bottom: 3px solid #795548;
  margin-top: 20px;
}

.btn-gress.btn-back {
  position: absolute;
  top: 0;
  z-index: 10;
  left: 0;
  padding: 5px 15px;
  /* border: 3px solid rgba(120, 86, 72, 0.72); */
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  color: #795548;
  margin-top: 3%;
  margin-left: 3%;

}

.btn-wrap {
  margin-top: 15px;
}

.home.lobby-wrap h1{
  margin-top: 15px;
}

.overlay:after {
  content: "";
  display: block;
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  background-image: url(images/flag3.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10%;
  width: 100%;
  height: 100vh;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 999;
  animation: loading 0.5s infinite;
  transition: all 1.5s ease-out;
}

@keyframes loading {
  0%, 100% {
    background-size: 15%;
  }
  50% {
    background-size: 10%;
  }
}

.lobby ul li {
  padding: 5px 0 5px 40px;
  border-bottom: 1px dashed #e0d1af;
  background: url(images/rock-g.png) left top no-repeat;
  background-size: 35px;
}

.lobby ul li:hover a {
  opacity: 0.5;
  cursor: pointer;
}

.scoreboard ul li {
  padding: 5px 0 5px 30px;
  background: url(images/sword.png) left center no-repeat;
  background-size: 20px;
  border-bottom: 1px solid #fff8dd;
  position: relative;
  padding-right: 45px;
}

.scoreboard ul li span {
  border-radius: 10px;
  background: #fff8dd;
  padding: 0 5px;
  float: right;
  font-size: 20px;
  color: #f44336;
  position: absolute;
  top: 8px;
  right: 0;
}

.scoreboard ul li:hover a {
  opacity: 1;
  cursor: default;
}

.home-link {
  text-decoration: none;
}

@media only screen  and (min-width : 992px) {

  .water-wrap {
    width: 500px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }

  .home-bg-top:after {
    background-size: 100%;
    padding-bottom: 10%;
  }

  .home {
    padding-top: 10%;
  }

  .home h1 img {
    width: 4%;
  }

  .home h1 {
    margin-top: 0;
  }

  .home h2 {
    margin-top: 0;
  }

  .home h2 img {
    width: 20%;
  }

  .btn-start {
    margin: 2% auto;
    width: 50%;
    font-size: 33px;
  }

  .lobby {
    width: 960px;
    padding-bottom: 0;
    padding-top: 40px;
    height: 1000px;
    padding-top: 50%;
    position: relative;
  }

  .lobby ul {
    width: 800px;
    height: 34%;
    top: 15%;
  }

  .searchroom {
    width: 600px;
  }

  .room-ship .vs {
    width: 10%;
    float: left;
    margin-top: 60px;
    font-size: 80px;
  }

  .room-ship .vs span {
    display: none;
  }
  .room-ship-player.p1, .room-ship-player.p2 {
    float: left;
    width: 45%;
  }

  .room-ship .btn-start {
    font-size: 40px;
    width: 50%;
  }

  .congrats-inner .detail .winner {
    width: 48%;
  }

  .congrats-inner .detail .star img {
    width: 5%;
  }

  .i-home {
    width: 30px;
  }
}

